In [13]:
import pandas as pd
from sklearn import datasets
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [5]:
diabetes = datasets.load_diabetes()
df = pd.DataFrame(diabetes.data)
df.columns = diabetes.feature_names
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [126]:
clf = LinearRegression()
df.describe()
import numpy as np

In [133]:
training = pd.read_csv('train_linear.csv')
y_train = training['Y']
training = np.array(training)
training[: len(training[0]) -1][0]

array([-4.91050164e-02, -4.46416365e-02,  1.60854917e-01, -4.69850589e-02,
       -2.90880170e-02, -1.97896367e-02, -4.70824835e-02,  3.43088589e-02,
        2.80165065e-02,  1.13486232e-02,  3.46000000e+02])